<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="./css/styles.css">
    <head>
        <title>Abouts</title>
    </head>
    <body>
        <div class = "parent">
              {{>header}}
        <!--<p>{{happens}}</p>-->
        {{>footer}}
        </div>
    </body>
</html>